@define-color base00 #282a36;
@define-color base01 #34353e;
@define-color base02 #43454f;
@define-color base03 #78787e;
@define-color base04 #a5a5a9;
@define-color base05 #e2e4e5;
@define-color base06 #eff0eb;
@define-color base07 #f1f1f0;
@define-color base08 #ff5c57;
@define-color base09 #ff9f43;
@define-color base0A #f3f99d;
@define-color base0B #5af78e;
@define-color base0C #9aedfe;
@define-color base0D #57c7ff;
@define-color base0E #ff6ac1;
@define-color base0F #b2643c;
@define-color basetransparent rgba(40, 42, 54, 0.0);
@define-color backtransparent rgba(40, 42, 54, 0.80);

window {
    background-color: @basetransparent;
}

.windowbox {
    background-color: @backtransparent;
    border-radius: 20px;
    box-shadow: 5px 5px 4px 4px #202020;
    /* margin-bottom: 1em; */
    margin-right: 20px;
    /* margin-top: 0.4em; */
    margin-left: 20px;
    min-height: 30px;
    border-color: @base08;
    border-width: 3px;
}

button {
    background-color: @basetransparent;
    background-image: none;
    border-color: @basetransparent;
}

.workspaces button {
}

.workspaces {
    margin-left: 1em;
}

.client-title {
    color: @base0D;
}

/* button { */
/*     background-color: @base00; */
/*     border-color: purple; */
/* } */

button:active {
    background-color: @basetransparent;
    color: @base0D;
}

button:hover {
    background-color: @basetransparent;
    color: @base0D;
}

.workspaces button.focused {
    background-color: @basetransparent;
    color: @base0D;
}

.window-title-box {
    margin-left: 1em;
}

.systemtray {
}

.clock {
    color: @base0B;
}

.battery_dial_charging {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base0B;
}

.battery_dial_charged {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base0B;
}

.battery_dial {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base0A;
}

.battery_icon {
    font-size: 12px;
}

window.notification-popups box.notifications {
    padding: .5em;
}

.notification {
    min-width: 100px;
    border-radius: 20px;
    padding: 1em;
    /* margin: 1em; */
    background-color: @backtransparent;
}

.notif-icon {
    min-width: 38px;
    min-height: 38px;
    margin-right: 1em;
}

.notif-icon image {
    font-size: 22px;
    /* to center the icon */
    /* margin: 5px; */
    color: @base0C;
}

.notif-icon box {
    min-width: 38px;
    min-height: 38px;
}

.notif-title {
    color: @base0C;
    font-size: 1.2em;
    margin: 5px;
}

.notif-body {
    color: @base0C;
}

.notif-actions .notif-action-button {
    /* margin: 0 .4em; */
    /* margin-top: .8em; */
}

.notif-actions .notif-action-button:first-child {
    margin-left: 0;
}

.notif-actions .notif-action-button:last-child {
    margin-right: 0;
}

.battery-popup {
    padding: 2.5em;
    font-size: 2em;
    background-color: @backtransparent;
    border-radius: 20px;
}

.battery-close {
    border-radius: 10px;
    padding: 1px;
    margin-bottom: 25px;
}

.battery-close:hover {
    background-color: @base08;
}

.cpu {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base0A;
}

.cpu_icon {
    font-size: 12px;
}

.cpu_low {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base0B;
}

.cpu_high {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base08;
}

.ram_low {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base0B;
}

.ram {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base0A;
}

.ram_high {
    min-width: 30px;
    min-height: 30px;
    font-size: 4px;
    margin-top: 1em;
    margin: 1em;
    background-color: @basetransparent;
    color: @base08;
}

.ram_icon {
    font-size: 12px;
}
