/* Modify these to change relative widths or default height */
#navigator-toolbox{ --uc-navigationbar-width: -2vw; --uc-toolbar-height: 28px; --window-drag-space-width: 0px}
/* Override for other densities */
:root[uidensity="compact"] > #navigator-toolbox{ --uc-toolbar-height: 22px;}
:root[uidensity="touch"] > #navigator-toolbox{ --uc-toolbar-height: 40px; }

/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar and tabs-/nav-bar ratio - ADJUST AS NEEDED */
@media screen and (max-width: 1600px){
  #urlbar-container{ min-width:unset !important }
}

/* /\* Transparent tabs *\/ */
/* .toolbar-items:-moz-lwtheme-darktext, */
/* .toolbar-items:-moz-lwtheme-brighttext { */
/* 	background-color: transparent !important; */
/* 	-moz-appearance: var(--bf-moz-appearance) !important; */
/* } */

/* Stretch Tabs */
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: none !important;
}

/* .tab-background:-moz-lwtheme-darktext, */
/* .tab-background:-moz-lwtheme-brighttext { */
/* 	background: transparent !important; */
/* 	-moz-appearance: var(--bf-moz-appearance) !important; */
/* } */

/* .tab-background[selected="true"] { */
/* 	background: var(--bf-tab-selected-bg) !important; */
/* } */

/* .tab-background:not[visuallyselected] { */
/* 	background: var(--bf-tab-selected-bg) !important; */
/* 	opacity: 0.5 !important; */
/* } */

/* /\* Style all the lines before and after selected tab *\/ */
/* .tabbrowser-tab::after, */
/* .tabbrowser-tab::before { */
/* 	border-width: 1px !important; */
/* } */

/* .tabbrowser-arrowscrollbox { */
/* 	margin-inline-start: 4px !important; */
/* 	margin-inline-end: 0 !important; */
/* } */


/* Center all content */
.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    min-width: 100% !important;
}

.tab-icon-image {
    margin-top: 4px;
}

/* A way to center the label and icon while
the close button is positioned to the far right */
.tab-content::before{
    content: "";
    display: -moz-box;
    -moz-box-flex: 1
}

.tab-label {
    margin-top: 5px !important;
}

/* Tab close button */
.tab-close-button {
    opacity: 1 !important;
    min-width: 30px;
    margin-top: 4px;
    display: -moz-box;
    -moz-box-flex: 1;
}

#tabs-newtab-button {
    visibility: hidden !important;
}

#TabsToolbar{
    margin-top: 0px !important;
    max-height: 30px;
}


.tabbrowser-tab, .tab-background, .tab-stack { 
    margin-top: 0px !important;
    max-height: 37px !important;
    border: none !important; 
    border-radius: 1px !important;
}

.tab-background {
    margin-top: 0px !important;
    max-height: 20px !important;
}

.tab-background[selected]:-moz-lwtheme {
    outline: none !important;
}

.tab-loading-burst {
    max-height: 20px !important;
}

.tab-stack {
    padding: 0px !important;
}

/* Autohide Navbar */

#nav-bar:not([customizing="true"]):not([inFullscreen]) {
    /*visibility: collapse !important;*/
    min-height: 0px !important;
    max-height: 0px !important;
    margin-top: 1px !important;
    margin-bottom: 0px !important;
    margin-right: 70px !important;
    margin-left: 70px !important;
    transition: all 300ms ease .5s !important;
    z-index: -5 !important;
    border-radius: 50px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#navigator-toolbox:hover:not([inFullscreen]) :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
    /*visibility: visible !important;*/
    min-height: 32px !important;
    max-height: 32px !important;
    margin-top: 15px !important;
    margin-bottom: -48px !important;
    transition: all 200ms	ease 0s !important;
    z-index: 5 !important;
    border: 0px !important;
    box-shadow: 3px 3px 8px 2px #111 !important;
}

#navigator-toolbox{
    max-height: 32px !important;
}

/* make urlbar rounded */
#urlbar{
    margin-top: 17px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

#urlbar-background{
    border-radius: 50px !important;
}

#urlbar[open] > #urlbar-background{
    animation-duration: 200ms !important;
    border-radius: 15px !important;
}

#urlbar[breakout][breakout-extend] {
     margin-top: 0px !important;
     top: 0px !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: calc(var(--uc-toolbar-height) + 12 * 2px) !important;
    padding-block: calc(2px + (var(--uc-toolbar-height) - var(--urlbar-height)) / 2);
    padding-inline: 8px;
}
