@define-color base00 #282a36;
@define-color base01 #34353e;
@define-color base02 #43454f;
@define-color base03 #78787e;
@define-color base04 #a5a5a9;
@define-color base05 #e2e4e5;
@define-color base06 #eff0eb;
@define-color base07 #f1f1f0;
@define-color base08 #ff5c57;
@define-color base09 #ff9f43;
@define-color base0A #f3f99d;
@define-color base0B #5af78e;
@define-color base0C #9aedfe;
@define-color base0D #57c7ff;
@define-color base0E #ff6ac1;
@define-color base0F #b2643c;
@define-color basetransparent rgba(40, 42, 54, 0.0);
@define-color backtransparent rgba(40, 42, 54, 0.80);
window {
    margin: 100px;
    background-color: @base00;
    /* border-radius: 20px; */
}

#input {
    margin: 10px;
    border-radius: 20px;
    border-color: @base02;
    background-color: @base02;
    color: @base05;
}

#inner-box {
    margin: 0px;
}

#outer-box {
    margin: 0px;
}

#scroll {
    margin: 5px;
    /* background-color: orange; */
}

#entry {
    border-radius: 20px;
}

#text {
    margin: 2px;
    color: @base05;
    font-size: 14px;
}

#img {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#entry:selected {
    background-color: @base0D;
}

#text:selected {
    color: @base02;
}
