:root {    /* Acario-Light Tridactyl theme created by Chris Cochrun chris@tfcconnection.org */
    --base00: #F5F5F9;
    --base01: #E9E9F2;
    --base02: #C0CCD0;
    --base03: #9EA6B0;
    --base04: #585C6C;
    --base05: #0F1019;
    --base06: #3A3A3A;
    --base07: #303030;
    --base08: #D70000;
    --base09: #D75F00;
    --base0A: #AF8700;
    --base0B: #009B7C;
    --base0C: #005F00;
    --base0D: #007687;
    --base0E: #AF005F;
    --base0F: #1F55A0;

    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0D);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0B) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}

#command-line-holder {    order: 1;
                          /*border: 2px solid var(--base0B);*/
                          color: var(--tridactyl-bg);
}

#tridactyl-input {    color: var(--tridactyl-fg);
                      width: 90%;
                      font-size: 1.3rem;
                      line-height: 1.5;
                      background: var(--tridactyl-bg);
                      opacity: 0.85;
                      padding-left: unset;
                      padding: 0.4rem;
                 }

#completions table {    font-size: 1.0rem;
                        font-weight: 500;
                        border-spacing: 0;
                        table-layout: fixed;
                        padding: 1rem;
                        padding-top: 0.2rem;
                        padding-bottom: 1rem;
}

#completions > div {    max-height: calc(30 * var(--option-height));
                        min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

#completions {    --option-height: 1.4em;
                  color: var(--tridactyl-fg);
                  background: var(--tridactyl-bg);
                  display: inline-block;
                  font-size: unset;
                  font-weight: 200;
                  overflow: hidden;
                  width: 100%;
                  border-top: unset;
                  order: 2;
}

/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {    max-height: unset;
    min-height: unset;
}

#completions .HistoryCompletionSource table {    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {    max-height: unset;
    min-height: unset;
}

#completions table tr td.prefix,#completions table tr td.privatewindow,#completions table tr td.container,#completions table tr td.icon {    display: none;
}

#completions .BufferCompletionSource table {    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

#completions table tr .title {    width: 50%;
}

#completions table tr {    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#completions .sectionHeader {    background: unset;
    font-weight: 200;
    border-bottom: unset;
    padding: 1rem !important;
    padding-left: unset;
    padding-bottom: 0.2rem;
}

#cmdline_iframe {    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
    border-radius: 30px !important;
    /*filter: blur(15px);*/
}

.TridactylStatusIndicator {    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px var(--base0D) solid !important;
    font-size: 7pt !important;
    font-weight: 600 !important;
    padding: 0.7ex !important;
			  }

#completions .focused {    background: var(--base0B);
    color: var(--base00);
}

#completions .focused .url {    background: var(--base0B);
                                color: var(--base00);
                           }
/* #Ocean-normal { */
/*  border-color: green !important; */
/* } */

/* #Ocean-insert { */
/*  border-color: yellow !important; */
/* } */
