:root {    /* Snazzy Tridactyl theme created by Chris Cochrun chris@tfcconnection.org */
    --base00: #282a36;
    --base01: #34353e;
    --base02: #43454f;
    --base03: #78787e;
    --base04: #a5a5a9;
    --base05: #e2e4e5;
    --base06: #eff0eb;
    --base07: #f1f1f0;
    --base08: #ff5c57;
    --base09: #ff9f43;
    --base0A: #f3f99d;
    --base0B: #5af78e;
    --base0C: #9aedfe;
    --base0D: #57c7ff;
    --base0E: #ff6ac1;
    --base0F: #b2643c;

    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0D);
    --tridactyl-highlight-box-fg: var(--base00);
    --tridactyl-cmplt-option-height: 1.4em;

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}

#command-line-holder {
    order: 1;
    color: var(--tridactyl-bg) !important;
    background: var(--tridactyl-bg) !important;
}
:root #completions table tr td.prefix,
:root #completions table tr td.privatewindow,
:root #completions table tr td.container,
:root #completions table tr td.icon {
    display: none;
}

#tridactyl-input {    color: var(--tridactyl-fg);
                      width: 90%;
                      font-size: 1.3rem;
                      line-height: 1.5;
                      background: var(--tridactyl-bg);
                      opacity: 0.85;
                      padding-left: unset;
                      padding: 0.4rem;
                 }

#completions table {    font-size: 1.0rem !important;
                        font-weight: 600 !important;
                        border-spacing: 0;
                        table-layout: fixed;
                        padding: 1rem;
                        padding-top: 0.2rem;
                        padding-bottom: 1rem;
}

#completions > div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

/* COMPLETIONS */

#completions {    --option-height: 1.4em;
                  color: var(--tridactyl-fg);
                  background: var(--tridactyl-bg);
                  display: inline-block;
                  font-size: 1.0rem !important;
                  font-weight: 600 !important;
                  overflow: hidden;
                  width: 100%;
                  border-top: unset;
                  order: 2;
}

/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {    max-height: unset;
    min-height: unset;
}

#completions .HistoryCompletionSource table {    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {    max-height: unset;
    min-height: unset;
}

#completions table tr td.prefix,#completions table tr td.privatewindow,#completions table tr td.container,#completions table tr td.icon {    display: none;
}

#completions .BufferCompletionSource table {    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

#completions table tr .title {    width: 50%;
}

#completions table tr {    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#completions .sectionHeader {    background: unset;
    font-weight: 200;
    border-bottom: unset;
    padding: 1rem !important;
    padding-left: unset;
    padding-bottom: 0.2rem;
}

:root #completions .HistoryCompletionSource {
    max-height: unset;
    min-height: unset;
}

:root #completions .HistoryCompletionSource table {
    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
:root #completions .BmarkCompletionSource {
    max-height: unset;
    min-height: unset;
}
:root #completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root #completions table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cmdline_iframe {    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
    border-radius: 25px !important;
    /*filter: blur(15px);*/
}

.TridactylStatusIndicator {    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px var(--base0D) solid !important;
    font-size: 7pt !important;
    /*font-weight: 200 !important;*/
    padding: 0.7ex !important;
			  }

#completions .focused {    background: var(--base0B);
    color: var(--base00);
}

#completions .focused .url {    background: var(--base0B);
    color: var(--base00);
}
/* #Ocean-normal { */
/*  border-color: green !important; */
/* } */

/* #Ocean-insert { */
/*  border-color: yellow !important; */
/* } */

/* body { */
/*   color: var(--tridactyl-bg); */
/*   box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important; */
/* } */
